Package: com.lacertosusrepo.indicators
Name: Indicators
Version: 1.2
Architecture: iphoneos-arm64e
Description: iOS 17 camera/microphone indicator for the flashlight, DND, and VPN
Maintainer: LacertosusDeus
Author: LacertosusDeus
Section: Tweaks
Depends: mobilesubstrate
